div.container

    div.jumbotron

        if (!user)
            p If you are a website admin, please Sign In clicking on the link below:

            a.btn.btn-success.btn-lg(href="/auth/google" target="_self")
                i.fa.fa-sign-in  Sign in

        else
            p You are already logged in. If you want to Log out, please click on the link below:

            a.btn.btn-danger.btn-lg(href="/logout" target="_self")
                i.fa.fa-sign-out  Log out

        p Otherwise go back by clicking on the link below:

        a.btn.btn-primary.btn-lg(href="/")
            i.fa.fa-home  Home Page