div
    button.btn.btn-success.save-btn(type="button" ng-click="updateDrug()")
        i.fa.fa-floppy-o  Save Drug Changes
    button.btn.btn-danger.save-btn(type="button" ng-really-message="Are you sure you want to delete {{drug.name}}?" ng-really-click="deleteDrug()")
        i.fa.fa.fa-trash-o  Delete Drug