table.table.table-bordered.table-condensed.drug-info(bindonce class="{{ node.isFirstCategoryDrug ? '' : 'following' }}")

    tr.active(ng-if="node.isFirstCategoryDrug")
        th(ng-show="node.nameShow") Name
        th(ng-show="node.brandNameShow") Brand Names
        th(ng-show="node.mechanism.show") Mechanism
        th(ng-show="node.use.show") Use
        th(ng-show="node.pharmacology.show") Pharmacology
        th(ng-show="node.sideEffects.show") Side Effects
        th(ng-show="node.other.show") Other
        th(ng-show="node.links.show") Links
    tr
        td(ng-show="node.nameShow")
            div.drugColumn

                | {{node.name}}

                if (user)

                    br

                    button.btn.btn-primary.btn-xs.btn-black.no-margin(
                        type="button"
                        data-toggle="modal"
                        data-target="#_{{node._id}}_modal"
                        ng-click="setLoadModal(node)"
                    )
                        i.fa.fa-external-link  more

                    a.btn.btn-success.btn-xs.btn-black.btn-margin(target="__blank" href="/drugs/{{node._id}}")
                        i.fa.fa-edit  modify

        td(ng-show="node.brandNameShow")
            div.drugColumn {{node.brandName}}
        td(ng-show="node.mechanism.show")
            div.drugColumn(ng-bind-html="node.mechanism.text")
        td(ng-show="node.use.show")
            div.drugColumn(ng-bind-html="node.use.text")

        td(ng-if="node.pharmacology.show")
            ul.pharmacology.drugColumn
                li(ng-if="node.pharmacology.absorption.text")
                    strong Absorption
                    div(ng-bind-html="node.pharmacology.absorption.text")

                li(ng-if="node.pharmacology.distribution.text")
                    strong Distribution
                    div(ng-bind-html="node.pharmacology.distribution.text")
                
                li(ng-if="node.pharmacology.metabolism.text")
                    strong Metabolism
                    div(ng-bind-html="node.pharmacology.metabolism.text")

                li(ng-if="node.pharmacology.excretion.text")
                    strong Excretion
                    div(ng-bind-html="node.pharmacology.excretion.text")

        td(ng-if="node.sideEffects.show")
            div.drugColumn(ng-bind-html="node.sideEffects.text")
        
        td(ng-if="node.other.show")
            div.drugColumn(ng-bind-html="node.other.text")

        td(ng-if="node.links.show")
            div.drugColumn
                a(bind-once ng-repeat="link in node.links", href="{{link.url}}", target="__blank")
                    |&nbsp;{{link.name}}

div.modal.fade(role="dialog", aria-labelledby="{{node.name}}", id="_{{node._id}}_modal", aria-hidden="true")
    div(ng-if="node.loadModal")
        div(ng-include="'/partials/_drug_modal.jade'")