div.form-group.row
  div.col-sm-4
    label.control-label(for="scrapeDrugName") Drug's Name for Fetching:
  div.col-sm-8
    input.form-control#scrapeDrugName(
      type='text', 
      ng-model='drug.name',
      placeholder='Input the generic drug name',
      autofocus
    )

br

div.panel-group(id="accordion{{name}}" ng-repeat="(name, object) in scrapeService.addresses")
  div.panel.panel-default
    div.panel-heading
      h4.panel-title.text-center
        a(ng-click="object.collapsed = !object.collapsed")
          | Fetch website: 
          b {{ name | capitalizeFilter }}
    div.panel-collapse.collapse(collapse="object.collapsed")
      div.panel-body

        input.form-control(
          type="text",
          ng-model="object.alternativeLink",
          placeholder="Alternative link for {{ name }} fetching (use when default search by name is unsuccessful)"
        )

        button.btn.btn-success.drugBank(type='button', ng-click="scrapeWebsiteForDrug(drug, name, object.alternativeLink)")
          i.fa.fa-refresh  Fetch {{ name | capitalizeFilter }}
        
        br

        label
          input(type="checkbox" ng-model="object.shouldRefill")
          |  Re-fill drug data with fetched results

        div.panel-group
            div.panel.panel-default
                div.panel-heading
                    h5.panel-title
                        a(ng-click="object.collapsedHuman = !object.collapsedHuman")
                          | Fetched data from {{name | capitalizeFilter }} (Beautified)
                div.panel-collapse.collapse(collapse="object.collapsedHuman")
                    div.panel-body(ng-bind-html="object.Human")

            div.panel.panel-default
                div.panel-heading
                    h5.panel-title
                        a(ng-click="object.collapsedRaw = !object.collapsedRaw")
                          | Fetched data from {{name | capitalizeFilter }} (Raw)
                div.panel-collapse.collapse(collapse="object.collapsedRaw")
                    pre.panel-body {{ object.Raw }}

br