pagination.pagination-sm(
    ng-model="pager.filter.page"
    total-items="pager.filter.totalItems" 
    items-per-page="pager.filter.limit"
    boundary-links="true" 
    rotate="true" 
    num-pages="pager.filter.totalPages"
)