div.panel-group#filterHolder
    div.panel.panel-default
        div.panel-heading
            h4.panel-title
                a(data-toggle="collapse" data-parent="#filterHolder" href="#filterCollapsible")
                    | Pager / Filter
        div.panel-collapse.collapse.in#filterCollapsible
            div.panel-body
                form(role="form")
                    div.form-group
                        div.table-responsive
                            table.table.table-hover
                                thead
                                    tr
                                        th Limit per page
                                        th Sort by field
                                        th Sorting Direction
                                        th Filter by fields
                                        th Filter text
                                tbody
                                    tr
                                        td
                                            input.form-control(
                                                type="number",
                                                delayed-model="pager.filter.limit",
                                                data-delay="600",
                                                name="limit",
                                                min="20",
                                                max="1000"
                                            )
                                        td
                                            select(delayed-model="pager.filter.sortField")
                                                option(
                                                    ng-repeat="key in pager.sortKeys"
                                                    ng-selected="{{key.name == pager.filter.sortField}}" 
                                                    value="{{key.name}}"
                                                ) {{key.name}}
                                        td
                                            select(delayed-model="pager.filter.sortDirection")
                                                option(
                                                    ng-repeat="direction in pager.sortDirections"
                                                    ng-selected="{{direction.dir == pager.filter.sortDirection}}"
                                                    value="{{direction.dir}}"
                                                ) {{direction.name}}
                                        td
                                            div.findFields
                                                label.findField(ng-repeat="findField in pager.findFields")
                                                    input(
                                                        type="checkbox"
                                                        ng-checked="{{findField.selected}}"
                                                        value="{{findField.selected}}"
                                                        ng-model="findField.selected"
                                                        ng-change="pager.setFilterFindFields()"
                                                    )
                                                    |  {{findField.name}}
                                            
                                        td
                                            input.form-control(
                                                type="text"
                                                placeholder="value / regex filter"
                                                delayed-model="pager.findParam"
                                                data-delay="500")
                                tbody
                                    tr
                                        th(colspan="2")
                                        th Page 
                                        th Items on page 
                                        th Total Items
                                tbody
                                    tr
                                        td(colspan="2")
                                        td {{pager.filter.page}} / {{pager.filter.totalPages}}
                                        td {{pager.getItemsOnPageNumber()}}
                                        td {{pager.filter.totalItems}}