table.table.table-bordered.table-condensed.drug-info(
    class=isFirstCategoryDrug?'':'following')

    if (isFirstCategoryDrug)
        tr.active
            th.drugName Name
            th.drugBrandName Brand Names
            th.drugMechanism Mechanism
            th.drugUse Use
            th.drugPharmacology Pharmacology
            th.drugSideEffects Side Effects
            th.drugOther Other
            th.drugLinks Links
    tr
        td.drugName
            div.drugColumn
                | #{name}
                //- if (user)
                    br
                    button.btn.btn-primary.btn-xs.btn-black.no-margin(
                        type="button"
                        data-toggle="modal"
                        data-target="#_{_id}_modal"
                        ng-click="setLoadModal(node)")
                    a.btn.btn-success.btn-xs.btn-black.btn-margin(target="__blank", href="/drugs/#{_id}")
                        i.fa.fa-edit  modify
                //i.fa.fa-external-link  more
        td.drugBrandName
            div.drugColumn
                | !{brandName}

        td.drugMechanism
            div.drugColumn
                | !{mechanism.text}

        td.drugUse
            div.drugColumn
                | !{use.text}

        td.drugPharmacology
            ul.pharmacology.drugColumn
                if (pharmacology.absorption.text)
                    li.drugPharmacologyAbsorption
                        strong Absorption
                        div
                            | !{pharmacology.absorption.text}
                if (pharmacology.distribution.text)
                    li.drugPharmacologyDistribution
                        strong Distribution
                        div
                            | !{pharmacology.distribution.text}
                if (pharmacology.metabolism.text)
                    li.drugPharmacologyMetabolism
                        strong Metabolism
                        div
                            | !{pharmacology.metabolism.text}
                if (pharmacology.excretion.text)
                    li.drugPharmacologyExcretion
                        strong Excretion
                        div
                            | !{pharmacology.excretion.text}
        td.drugSideEffects
            div.drugColumn
                | !{sideEffects.text}

        td.drugOther
            div.drugColumn
                | !{other.text}

        td.drugLinks
            div.drugColumn
                each link in links
                    a(href="#{link.url}", target="__blank")
                        | &nbsp;#{link.name}

//- div.modal.fade(role="dialog", aria-labelledby="#{name}", id="_#{_id}_modal", aria-hidden="true")
    div(ng-if="loadModal") div(ng-include="'/partials/_drug_modal.jade'")