div
    div.header-search
        
        div.eighty

            div.input-group
            
                input.form-control.search-box(
                    type="text" 
                    name="filter"
                    delayed-model="filter"
                    data-delay="450"
                    placeholder="Category or Drug name/parameter"
                    autofocus="autofocus")
                span.input-group-btn
                    button.btn.btn-default(type="button" ng-click="clearSearch()")
                        i.fa.fa-times

            div(ng-show="filter!=''")
                label
                    input.highlightDirectMatches(
                        type="checkbox",
                        name="highlightDirectMatches",
                        ng-model="highlightDirectMatches"

                    )
                    | Highlight directly matching elements

    div.text-center

        div.btn-group.text-center
            button.btn.btn-default(
                type="button" 
                ng-repeat="ct in categoryTypes"
                ng-click="changeCategoryType(ct)"
                class="{{ct.name == currentCategoryType.name ? 'active' : ''}}")
                |  {{ ct.name | capitalizeFilter }}

        br

        div.btn-group
            button.btn.btn-default(
                type="button"
                ng-repeat="paramsMode in params.MODES"
                ng-click="changeMode(paramsMode)"
                class="{{ mode == paramsMode ? 'active' : ''}}") {{ paramsMode | deCamelCaseFilter }} mode

        span(ng-show="mode == params.MODES.STUDY") &nbsp;&nbsp;&nbsp;Show&nbsp;&nbsp;

        div.btn-group(ng-show="mode == params.MODES.STUDY")
            button.btn.btn-default(
                type="button" 
                ng-repeat="setting in drugDisplayProperties"
                ng-click="toggleSetting(setting)"
                class="{{ setting.show ? 'active' : ''}}"
            )
                |  {{ setting.name | deCamelCaseFilter }}

    h3.text-center(ng-if="filter") {{ 'Results for:"' + filter + '"' }}

    div.tree