doctype html
html(ng-app="UDModule" ng-controller="AppController")
    head
        meta(charset="utf-8")

        title= title

        link(rel='stylesheet', href='/javascripts/vendor/bootstrap/dist/css/bootstrap.min.css')
        //- link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')

        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css')

        link(rel='stylesheet', href='/javascripts/vendor/angular-bootstrap-nav-tree/abn_tree.css')

        link(rel='stylesheet', href='/stylesheets/flash.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        link(rel='stylesheet', href='/stylesheets/tree.css')

        link(rel='stylesheet', href='/javascripts/vendor/angular-ui-tree/dist/angular-ui-tree.min.css')
        link(rel='stylesheet', href='/javascripts/vendor/angular-tree-control/css/tree-control.css')
        link(rel='stylesheet', href='/javascripts/vendor/angular-tree-control/css/tree-control-attribute.css')

        //- Makes JSON Human-readable
        script(type='text/javascript', src='/javascripts/vendor/json-human/lib/crel.js')
        script(type='text/javascript', src='/javascripts/vendor/json-human/src/json.human.js')

        //- ANGULAR
        script(type='text/javascript', src='/javascripts/vendor/angular-1.1.6/build/angular.min.js')
        script(type='text/javascript', src='/javascripts/vendor/angular-1.1.6/build/angular-route.js')

        //- BINDONCE
        script(type='text/javascript', src='/javascripts/vendor/angular-bindonce/bindonce.min.js')
        script(type='text/javascript', src='/javascripts/vendor/angular-once/once.js')

        //- ANGULAR UI BOOTSTRAP FULL
        script(type='text/javascript', src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js')


        //- BOOTSTRAP, JQUERY, LODASH
        script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.min.js')
        script(type='text/javascript', src='/javascripts/vendor/bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript', src='/lodash/dist/lodash.min.js')

        //- DIRECTIVES
        script(type='text/javascript', src='/javascripts/vendor/angular-sanitize/angular-sanitize.min.js')

        //- ANGULAR TREE
        script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap-nav-tree/abn_tree_directive.js')
        script(type='text/javascript', src='/javascripts/vendor/angular-ui-tree/dist/angular-ui-tree.js')
        script(type='text/javascript', src='/javascripts/vendor/angular-tree-control/angular-tree-control.js')

        //- POJO TREE
        script(type='text/javascript', src='/javascripts/jsTree/templates.js')
        script(type='text/javascript', src='/javascripts/jsTree/q.js')
        script(type='text/javascript', src='/javascripts/jsTree/tree.js')

        //- VENDOR Libraries
        script(type='text/javascript', src='/javascripts/vendor/textAngular/textAngular.js')
        script(type='text/javascript', src='/javascripts/vendor/ng-file-upload/angular-file-upload.js')
        script(type='text/javascript', src='/javascripts/vendor/angular-flash-messages/angular-flash.js')

        //- CUSTOM FILTERS AND DIRECTIVES
        script(type='text/javascript', src='/javascripts/directives/delayedModel.js')
        script(type='text/javascript', src='/javascripts/directives/confirmBox.js')
        script(type='text/javascript', src='/javascripts/filters/textFilters.js')
        script(type='text/javascript', src='/javascripts/directives/bindOnce.js')

        //- MAIN MODULE
        script(type='text/javascript', src='/javascripts/UDModule.js')

        //- SERVICES
        script(type='text/javascript', src='/javascripts/services/appService.js')
        script(type='text/javascript', src='/javascripts/services/categoryService.js')
        script(type='text/javascript', src='/javascripts/services/categoryTypeService.js')
        script(type='text/javascript', src='/javascripts/services/dbService.js')
        script(type='text/javascript', src='/javascripts/services/drugService.js')
        script(type='text/javascript', src='/javascripts/services/flashService.js')
        script(type='text/javascript', src='/javascripts/services/helperService.js')
        script(type='text/javascript', src='/javascripts/services/pagingService.js')
        script(type='text/javascript', src='/javascripts/services/scrapeService.js')

        //- CONTROLLERS
        script(type='text/javascript', src='/javascripts/controllers/IndexController.js')
        script(type='text/javascript', src='/javascripts/controllers/UserController.js')
        script(type='text/javascript', src='/javascripts/controllers/CategoryController.js')
        script(type='text/javascript', src='/javascripts/controllers/CategoryTypeController.js')
        script(type='text/javascript', src='/javascripts/controllers/DrugController.js')
        script(type='text/javascript', src='/javascripts/controllers/DrugsController.js')
        script(type='text/javascript', src='/javascripts/controllers/ATCCodesController.js')

        //- BASE URL FOR ROUTER
        base(href="/")

        block head

    body
        div.main-container
            div.content.foreground
                div.image-home-header
                div.image-src
                include userNavigation
                header.white.foreground
                    div.align-middle.foreground
                        div.align-block
                            h1.title USMLE Drugs
                            h2.subtitle Your source for drug study
                flash-messages.slide-down(ng-show="messages")
                div.content-container(ng-view)
                div.footer
                if (!user)
                    a.btn(href="/login") Manager Login