div.navigation

    if (user)

        nav.navbar.navbar-default(role="navigation")

            div.navbar-header

                button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navigation-collapsible")
                  i.fa.fa-bars
                a.navbar-brand(href="/")
                    i.fa.fa-home  Home

            div#navigation-collapsible.collapse.navbar-collapse

                ul.nav.navbar-nav
                    li
                        a(href="/users")
                            i.fa.fa-users  Users
                    li
                        a(href="/categoryTypes")
                            i.fa.fa-sitemap  Category Types

                    li.dropdown
                        a(href="/categories")
                            i.fa.fa-sitemap  Categories

                    li.dropdown

                        div.btn-group.nav-button-group

                            button.btn.no-margin-right(type="button")
                                a.gray(href="/drugs")
                                    i.fa.fa-medkit  Drugs

                            button.btn.dropdown-toggle(type="button" data-toggle="dropdown")
                                span.caret
                                span.sr-only

                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="/drugs/new")
                                        i.fa.fa-plus  Add Drug

                    li
                        a(href="/logout")
                            i.fa.fa-sign-out  Log out