#flash-messages {
  position: fixed;
  z-index: 1000000;
  display: inline-block;
  text-align: center;
  top: 50px;
  left: 50%;
  margin-left: -100px;
  list-style: none;
  font-size: 1em;
}
#flash-messages li {
  padding: 5px 15px;
  width: 200px;
  border-radius: 5px;
  background-color: rgba(255, 191, 0, 0.95);
}

.slide-down li { 
  /*display: block !important;*/
  opacity: 0;
  animation: slide-down-enter 1.5s ease-out, slide-down-leave 4.5s ease;
  -webkit-animation: slide-down-enter 1.5s ease-out, slide-down-leave 4.5s ease;
}
.slide-down.ng-hide li {
  /*display: none !important; */
  /*background-color: none;*/
}

@keyframes slide-down-enter {
  from { opacity: 0; transform: translateY(-75%); } to { opacity: 1; transform: translateY(0); }
}
@keyframes slide-down-leave {
  from { opacity: 1; transform: translateY(0); }    to { opacity: 0; transform: translateY(75%); }
}
@-webkit-keyframes slide-down-enter {
  from { opacity: 0; transform: translateY(-75%); } to { opacity: 1; transform: translateY(0); }
}
@-webkit-keyframes slide-down-leave {
  from { opacity: 1; transform: translateY(0); }    to { opacity: 0; transform: translateY(75%); }
}

#flash-messages .error:before,
#flash-messages .warning:before,
#flash-messages .info:before,
#flash-messages .success:before {
  display: inline-block;
  width: 1em;
  font-family: 'FontAwesome';
  margin-right: 4px
}

#flash-messages .error:before { content: '\f057'; }
#flash-messages .warning:before { content: '\f071'; }
#flash-messages .info:before { content: '\f06a'; }
#flash-messages .success:before { content: '\f058'; }

#flash-messages .error {
  background-color: red;
  color: white;
}

#flash-messages .success {
  background-color: green;
  color: white;
}

#flash-messages .info {
  background-color: gray;
  color: white;
}