body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  /*letter-spacing: 0.1rem;*/
  font-weight: 400;  
  color: #333332;
}


/* Colors */
.gray  { color: #777; }
.white { color: #fff; }

/* Links */
a {
  color: #00B7FF;
}
a.gray:hover {
  color: black;
}


/* Angular WYSIWYG editor */
.ta-editor {
  min-height: 150px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}




tr {
  vertical-align: top;
}

th, td {
  padding: 5px;
}

.no-margin,
button.no-margin {
  margin: 0;
}
button.no-margin-right {
  margin-right: 0;
}

.nav-button-group button {
  padding-top: 10px;
  padding-bottom: 8px;
}

.dropFiles {
  padding: 15px;
  margin: 10px;

  text-align: center;

  border: dotted 3px green;
  border-radius: 10px;
}

.dropFilesHoverOver {
  border: solid 6px green;
}

.btn {
  /*margin: 5px;*/
}
ul.no-list {
  list-style: none;
  padding-left: 0;
}

ul.pharmacology,
ul.navigation {
  padding-left: 1px;
}
ul.pharmacology span {
  text-decoration: underline;
}

.deleteCategory {
    float: right;
}


.drugColumn {
  max-height: 400px;
  overflow-y: auto;
}


.header-row {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}


header .title {
  font-weight: 700;
  letter-spacing: -0.04em;
  font-size: 50px;
  font-style: normal;
  line-height: 1.1;
}

header .subtitle {
  font-weight: 300;
  letter-spacing: -0.02em;
  font-style: normal;
  font-size: 30px;
  color: rgba(255,255,255,0.70);
  line-height: 1.1;
  margin-top: 10px;
}

.main-container {
  position: absolute;
  height: 100%;
  width:  100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  visibility: visible;
}


.image-home-header,
.image-src {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 350px;
  pointer-events: none;
}

.content {
  position: relative;
  height: 100%;
  /*overflow: auto;*/
  visibility: visible;

}

.drugImageThumbnail {
  max-height: 300px;
  max-width : 300px;
}

/* Header Image */
.image-src {
  background-image: url(/images/bg2.png);
}

.image-home-header {
  height: 350px;
  display: block;
}

.image-src {
  background-position: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* User navigation */
div.navigation {
  height: 52px;
  display: block;
  width: 100%;
  opacity: 0.9;
  position: relative;
  z-index: 200;
}

/* Header Hero */
header {
  height: 240px;
  margin-top: 52px; /* below the pills */
  word-wrap: break-word;
  text-align: center;
  position: relative;
}

/* Header Drug Search Box */
.header-search {
  position: absolute;
  top:0;
  margin-top: 285px;
  height: 70px;
  z-index: 200;
}

.align-middle {
  height: 100%;
}

.align-middle:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.align-block {
  display: inline-block;
  vertical-align: middle;

  /*margin-top: 50px;*/
}

.foreground {
  z-index: 100;
}



/* Percentage-based width elements */
.eighty {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}



/* Angular Tree Related */
.abn-tree-link {
  color: #333332;
}


.drug-element {
  margin-bottom: 0;
}
ul.nav.abn-tree div.drug-element.indented {
  position: static;
  left: 0px;
  padding-left: 80px;
}


/* Input fields */
.form-control.search-box {
  margin: 5px 0 5px 0;
  height: 34px;
}




.content-container {
  /*border-top: solid 1px brown;*/
  margin: 10px;
}

table.drug-info {
  table-layout: fixed;
  font-size: 15px;
}
.drug-info td {
  max-height: 300px;
  overflow-y: auto;
  max-width: 600px;
  overflow-x: auto;
}
.drug-info {
  margin-bottom: 0;
}

table.drug-info.following,
table.drug-info.following tr:first-child td {
  border-top: none;
}


/* Bootstrap Related */

  /* Modal Fix */
.modal-backdrop.fade.in {
  display: none;
}

.drug-modal-footer {
  text-align: left;
}

.btn-black {
  background-color: #333332;
  border-color: #333332;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

a.btn-xs {
  padding: 1px 5px !important;
}

.modal-dialog.large {
  width: 95%;
}

.btn-margin {
  margin-left   : 5px;
  margin-right  : 5px; 
}

.btn-group {
  margin-top    : 5px;
  margin-bottom : 5px;
}

.findFields {
  max-height: 165px;
  overflow-y: auto;
}
.findField {
  display: block;
}

/* Disabled data */
.disabled,
.disabled a
.disabled button {
    color: #777;
    opacity: 0.5;
}

.disabled .disableButton {
    color: black;
    opacity: 1;
}