ul.treeList {
    list-style: none;
    padding-left: 10px;
}
div.branchDiv.categoryDiv {
    border: 1px solid #dae2ea;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
}
div.branchDiv.categoryDiv:hover {
    background-color: #dae2ea;
    cursor: pointer;
}
.hidden {
    display: none;
}
.directMatch > div,
.directMatch .drugDiv .drugName {
    color: black;
    font-size: 15px;
    text-decoration: underline;
}


.categoryDiv:before {
    /*\e112*/
    content: ' >';
    font-weight: bold;
    font-size: 15px;

    color: white;
    background-color: #5cb85c;

    padding: 5px;
    box-sizing: border-box;
    margin: 2px;
    border-radius: 3px;

    text-decoration: none;
}