div.container

    h2.text-center Category Type: {{currentCategoryType.name}}

    div.text-center
      div.btn-group
          button.btn.btn-default(
              type="button"
              ng-repeat="ct in categoryTypes"
              ng-click="changeCategoryType(ct)"
              class="{{ct.name == currentCategoryType.name ? 'active' : ''}}")
              |  {{ ct.name | capitalizeFilter }}

    h2.text-center List of categories in&nbsp;
      i {{currentCategoryType.name | capitalizeFilter }}

    abn-tree(tree-data="catsWithNew",
             expand-level="3", display-delete="true",
             icon-leaf="fa fa-file-text-o", icon-expand="fa fa-plus-square", icon-collapse="fa fa-minus-square",
             on-select ="selectTreeCategory(branch, isDelete)")

    br

    div.panel.panel-default
      div.panel-heading
        h3.text-center Add new category
      div.panel-body

        h4
          i (will be added&nbsp;
              span(ng-show="currentCategory") under&nbsp;
                b {{currentCategory.name}}
              span(ng-hide="currentCategory") as a&nbsp;
                b new top-level category
              |).

        div(ng-hide="currentCategory")
          i.fa.fa-toggle-up: i  Select category from the list above in order to add new category under it.

        div(ng-repeat="category in newCategories")
            div.input-group
                span.input-group-addon New category name:
                input.form-control.name(type="text" ng-model="category.name")
            br
        p
          button.btn.btn-primary(type="button", ng-click="addNewCategory()")
            i.fa.fa-plus-square  Add another category to queue
        p
          button.btn.btn-success(type="button", ng-click="saveNewCategories()")
            i.fa.fa-save  Save new categories

    div.panel.panel-default(ng-show="currentCategory")
      div.panel-heading
        h3.text-center Change current category name
      div.panel-body
          div.input-group
            span.input-group-addon Current category name
            input.form-control(type="text"
              name="currentCategoryName"
              value="{{currentCategory.name}}"
              ng-model="currentCategory.name")
          button.btn.btn-success.btn-group(type="button" ng-click="changeCurrentCategoryName()")
            i.fa.fa-save  Update the category name