div.container

    h1.text-center List of Category Types

    table.table.table-bordered.table-condensed.table-hover
      thead
        tr
          th Category name
          th Save / Delete
      tbody
        tr(ng-repeat="ct in categoryTypes")
          td
            input.form-control(type="text", ng-value="ct.name", ng-model="ct.name")
          td
            button.btn.btn-success.btn-margin(type="button", ng-click="changeCategoryType(ct)")
              i.fa.fa-save  Update
            button.btn.btn-danger.btn-margin(type="button", ng-click="deleteCategoryType(ct)")
              i.fa.fa-trash-o  Delete

    div.panel.panel-default

      div.panel-heading

        h2.text-center Add new category type

      div.panel-body

        table.table.table-condensed
          tr
            td
              div.input-group
                span.input-group-addon New category type name
                input.form-control.name(type="text", ng-value="newCategoryType.name", ng-model="newCategoryType.name")
            td
              p: button.btn.btn-primary(type="button", ng-click="addCategoryType()")
                i.fa.fa-plus-square  Add new category type

    div.panel.panel-default

      div.panel-heading

        h2.text-center Fetch ATC Categories and Drugs
        h4.text-center
          i
            | Fetches the Anatomical Therapeutic Chemical Classification System categories and drugs
            | from WHOCC website

        hr

        h4
          i
            | List of ATC codes as it appears on&nbsp;
            a(href="http://en.wikipedia.org/wiki/Anatomical_Therapeutic_Chemical_Classification_System#First_level"
              target="__blank") Wikipedia
            |. (First level)

      div.panel-body(ng-controller="ATCCodesController")
        span(ng-repeat="code in codes")
          label
            input(type="checkbox" ng-checked="code.selected" ng-model="code.selected")
            |  {{ code.code }} - {{ code.name }}
          br

        hr

        i Select the Category Type into which to pull ATC Categories:

        br

        select.eighty(ng-options="categoryType.name for categoryType in categoryTypes" ng-model="atcCategoryType")

        br

        i.text-danger
          b !ACHTUNG!
          | Be careful to select the appropriate category type, otherwise
          | categories and drugs will be pulled into wrong category type!

        br
        button.btn.btn-primary.btn-margin(ng-click="fetchAndSetATCCodes(atcCategoryType._id)") Fetch ATC codes