div
    h2.text-center {{ drug.name ? "Add Drug: " + drug.name : "Add Drug" }}

    div(ng-include="'/partials/_drug_scrape.jade'")
    div(ng-include="'/partials/_drug.jade'")
    div(ng-include="'/partials/_drug_add_button.jade'")