<div><h2 class="text-center">{{ drug.name }}</h2><div ng-include="'/partials/_drug_scrape.jade'"></div><div ng-include="'/partials/_drug.jade'"></div><div ng-include="'/partials/_drug_modify_button.jade'"></div></div>